/.cpcache
/.nrepl-port
/bin
/config.edn
/config.sh
/config.env
/node_modules
/secrets.env
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/
.lsp/
.portal/
.shadow-cljs/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ECA configuration
.eca/
